language: python

python:
  - "3.6"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libsodium-dev

cache:
  pip: true
  directories:
    - docker-cache

install:
  - pip install pytest pytezos[crypto]

before_script:
  - |
    filename=docker-cache/saved_images.tar
    if [[ -f "$filename" ]]; then docker load < "$filename"; fi
    mkdir -p docker-cache
    docker pull ligolang/ligo:next
    docker save -o "$filename" ligolang/ligo:next

script:
  - make
  - make test

deploy:
  provider: script
  script: pytezos deploy src/atomex.tz --github-repo-slug="$TRAVIS_REPO_SLUG" --github-oauth-token="$GH_TOKEN"
  on:
    branch: master
    tags: true
